.header-bg {
  background-image: url("/assets/imgs/bgHeader.png");
  background-size: cover;
  height: 600px;
}

.header-opacity {
    background: rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & h1 {
    font-size: 1.25rem;
    color: #f8f9fa;
    font-weight: bold;
  }
}

.header-menu {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  color: #f8f9fa;
  font-weight: bold;
}

.info-hero {
  display: flex;
  height: 70%;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  & h1 {
    color: #f8f9fa;
    line-height: 1.3;
    font-size: 2.25rem;
  }

  & p {
    color: #f8f9fa;
    font-size: 1rem;
    line-height: 1.5;
  }
}
